:root {
    --card-color: hsl(194, 68%, 43%);
    --card-margin: 5vw;
    --card-padding: 1px;
}

.animated-grid {
    height: calc(100vh - (2*var(--card-padding)) - (2*var(--card-margin)));
    padding: var(--card-padding);
    display: grid;
    gap: 2rem;
    margin: var(--card-margin);
    grid-auto-rows: 50%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    --stagger-delay: 100ms;
}

@keyframes cardEntrance {
    from {
        opacity: 0;
        transform: scale(0.2);
        filter: hue-rotate(180deg);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: hue-rotate(0deg);
    }
}

.card {
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
}

.card:nth-child(1) {
    animation-delay: calc(1 * var(--stagger-delay));
}
.card:nth-child(2) {
    animation-delay: calc(2 * var(--stagger-delay));
}
.card:nth-child(3) {
    animation-delay: calc(3 * var(--stagger-delay));
}
.card:nth-child(4) {
    animation-delay: calc(4 * var(--stagger-delay));
}